<!-- Booking Grid Section -->
<section id="booking" class="success">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Court Booking</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              MORNING SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">6.00AM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              MORNING SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">7.00AM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              MORNING SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">8.00AM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              MORNING SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">9.00AM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              MORNING SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">10.00AM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              NOON SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">11.00AM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              NOON SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">12.00PM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              AFTERNOON SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">1.00PM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              AFTERNOON SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">2.00PM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              AFTERNOON SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">3.00PM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              AFTERNOON SLOTS
            </h3>
          </div>
          <div class="panel-body">
            <h5 class="card-title">4.00PM</h5>
            <p class="card-text">1 hr slot. Play & have fun while enjoying the work out that this sport provides you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>