<!-- Coaching Grid Section -->
<section id="coaching">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Coaching</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row mb-2">
      <p class="col-md-12 text-center">
        Everyone is welcome and encouraged to play, learn and have fun!

        Our private pickleball coaching and group coaching are for players of all playing abilities, 
        tailored and delivered by internationally accredited professional pickleball coaches.

        We love coaching people at all levels who share a similar passion for pickleball, 
        are keen to learn, improve and be the best they want to be in this crazy fun game of pickleball.
      </p>
    </div>
    <div class="portfolio-flex-row">
      
      <div class="portfolio-flex-item portfolio-item thumbnail">
        <a href="#coach-ajay" class="portfolio-link" data-toggle="modal">
          <img src="img/Ajay-Coach.jpg" class="img-responsive" alt="Ajay Choudhari">
          <div class="caption">
            <div class="caption-content text-center">
              Coach Ajay Choudhari
            </div>
          </div>
        </a>
      </div>

      <div class="portfolio-flex-item portfolio-item thumbnail">
        <a href="#coach-vrushali" class="portfolio-link" data-toggle="modal">
          <img src="img/Vrushali-Coach.jpg" class="img-responsive" alt="Vrushali Thakare">
          <div class="caption">
            <div class="caption-content text-center">
              Coach Vrushali Thakare
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</section>
